@model AccreditGitHubUsers.Models.GithubProfile

@{
    ViewBag.Title = "Home";
}

<h2>Search for a Github user</h2>

<!-- Search Form Without JQuery -->
<div class="flex-row">
    <div class="col-10 search_bar">
        @using (Html.BeginForm("Index", "GithubProfile", FormMethod.Post))
    {
        <span>Github UserName:</span>  @Html.TextBox("search")
        <input class="btn btn-primary" type="submit" value="search" />
    }
    </div>
</div>


@if (Model == null)
{
    <div class="flex-row justify-content-center">
        <div class="col">
            <p style="color:darkred">No Github User found! Please ensure the name is correct!</p>
        </div>
    </div>
}
else {
    <div class="row">
        <table class="table" id="user_table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    UserName
                </th>
                <th>
                    View Profile
                </th>
            </tr>


            <tr class="table_row">
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Login)
                </td>
                <td>
                    @Html.ActionLink("Projects", "Index", "GithubProjects", Model, null)
                </td>
            </tr>

        </table>
    </div>
}


<div class="row" style="margin-top: 20px;">
    <p><span style="font-weight: bold;">Note:</span> You need to type the full UserName for the GitHub user in order to find a User. (Partial names dont return a list of possible results)</p>
</div>
